* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --blackrgb: 0,0,0;
}

.container-form {
  margin: 30px auto;
  max-width: 500px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  margin-top: 0;
  transform: translate(-50%, -50%);
  max-width: 70%;
  min-width: 35%;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(var(--blackrgb), 0.4);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
  z-index: 1000;
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  font-size: 35px;
  color: #222;
  text-align: center;
  line-height: 25px;
  border-radius: 15px;
  cursor: pointer;
}

.on {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 1;
  box-shadow: 0 3.8px 2.2px rgba(var(--blackrgb), 0.028), 0 9.2px 5.3px rgba(var(--blackrgb), 0.04), 0 17.3px 10px rgba(var(--blackrgb), 0.05), 0 30.8px 17.9px rgba(var(--blackrgb), 0.06), 0 57.7px 33.4px rgba(var(--blackrgb), 0.072), 0 138px 80px rgba(var(--blackrgb), 0.1);
  transform: translate(-50%, -50%);
}
.shadow-off{
  display: none;
}
.shadow-on{
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
  animation: fadein 0.2s;
  background: linear-gradient(315deg , rgba(28, 21, 21, 0.2) 0%, rgba(var(--blackrgb),0.4) 100%);
}
#hint_id_new_password1 {
  display: block;
}
.form-group input {
  margin: 10px 0;
}